<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a new landmark:</h1>
    <form action="/landmarks" method="POST">
      <input id="landmark_name" type="text" name="landmark[name]">
      <input id="landmark_year_completed" type="text" name="landmark[year_completed]">
      <input type="submit" value="Create New Landmark">
    </form>

  </body>
</html>
